* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    background-color: #f0f0f0;
}

html {
    font-size: 15px;
}

header {
    width: 100%;
}
header nav {
    padding: 10px;
}
nav ul {
    display: flex;
}
nav ul li {
    list-style-type: none;
    margin-right: 20px;
    color: #666666;
}
nav > ul li:hover {
    color: #000;
}
nav ul li a {
    color: inherit;
    text-decoration: none;
}
nav .nav_center_btn {
    color: rgba(0, 190, 130, 1);
}
nav .nav_center_btn a {
    text-decoration: none;
    color: inherit;
}
.mynav_r_flex {
    display: flex;
    align-items: center;
}
.mynav_right .search {
    margin-right: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 50px;
    padding: 5px;
}
.mynav_right .search button {
    border: 0;
    color: #666666;
    margin: 0 5px;
}
.mynav_right .search input[type="search"] {
    width: 150px;
    border: 0;
    padding-left: 3px;
    font-size: 0.9rem;
    font-weight: 400;
    background-color: #f0f0f0;
    color: #666666;
}
.mynav_right .search input[type="search"]:focus {
    outline: none;
}
.mynav_right ul li {
    margin-right: 10px;
    color: #666666;
}
.mynav_right ul li a {
    display: inline-block;
    width: 58px;
    padding: 7px 0;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
}
.mynav_right ul li:nth-child(2) a {
    background-color: rgba(0, 190, 130, 1);
    color: #fff;
}
nav > button {
    display: none;
    padding: 3px 5px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-size: 1.1rem;
    color: #666666;
}

/* section1 starts */
.sec1 {
    width: 100%;
    padding-top: 30px;
    background-color: rgba(0, 255, 255, 0.3);
    color: #666666;
}
.sec1 h1 {
    margin: 5px 0 50px 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}
.sec1 .close_btn {
    width: 19px;
    height: 18px;
    font-size: 3rem;
    font-weight: 100;
    color: #666666;
    position: absolute;
    top: 8px;
    right: 120px;
    cursor: pointer;
    overflow: hidden;
}
.close_btn span {
    width: 19px;
    height: 18px;
    position: absolute;
    top: -17px;
    right: 4px;
}
.sec1 .sec1_links {
    font-size: 1rem;
    padding: 0 80px;
    display: flex;
}
.sec1_links a {
    display: inline-block;
    width: 100%;
    border: 1px solid #666666;
    border-bottom: 0;
    padding: 15px;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.sec1_links a:nth-child(1) {
    border-left: 0;
}
.sec1_links a:nth-child(2) {
    border-left: 0;
}
.sec1_links a:nth-child(3) {
    border-left: 0;
    border-right: 0;
}
.sec1_links a span {
    font-weight: bold;
}
/* section1 ends */

/* main */
main {
    padding: 10px;
    padding-top: 20px;
}
/* breadcrums sections starts */
.main_breadcrums {
    width: 100%;
    margin-bottom: 20px;
}
.main_breadcrums ul {
    display: flex;
}
.main_breadcrums ul li {
    list-style-type: none;
    margin-right: 15px;
    color: #666666;
}
.main_breadcrums ul li:hover {
    color: #000;
}
.main_breadcrums ul li a {
    text-decoration: none;
    color: inherit;
}
/* breadcrums sections ends */

/* boxs sections starts */
.boxs_container {
    width: 100%;
}
.boxs {
    width: 330px;
    height: 380px;
    margin-bottom: 50px;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.boxs .top {
    display: flex;
    justify-content: space-between;
}
.top .other_btns {
    opacity: 0;
    color: rgba(0, 190, 130, 1);
    padding: 10px;
}
.top .other_btns a {
    margin-right: 10px;
    text-decoration: none;
    color: inherit;
}
.top .price_div {
    padding: 10px;
    background-color: rgba(0, 190, 130, 1);
    color: #fff;
}
.boxs .middle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle img {
    width: 58%;
}
.boxs:nth-child(3) .middle img {
    transform: scaleX(-1);
}
.boxs .bottom {
    width: 100%;
    padding: 10px;
}
.bottom .review {
    display: flex;
    align-items: center;
}
.review .review_img {
    width: 10%;
    border: 2px solid #fff;
    border-radius: 100%;
    z-index: 10;
}
.review_img img {
    width: 100%;
    border-radius: 100%;
}
.review .review_img:nth-child(2) {
    margin-left: -5px;
    z-index: 9;
}
.review .review_img:nth-child(3) {
    margin-left: -5px;
    z-index: 8;
}
.review p {
    color: #666666;
    margin-left: 8px;
}
/* boxs sections ends */

/* other classes */
.common_container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex_row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.active {
    color: #000 !important;
}

/* animations */
.other_btns_anim {
    animation-name: other_btns_anim;
    -webkit-animation-name: other_btns_anim;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-delay: 0;
    -webkit-animation-delay: 0;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@keyframes other_btns_anim {
    0% {
        opacity: 0;
        transform: translate(0, -10px);
        -webkit-transform: translate(0, -10px);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
    }
}

/* media quaries */
@media only screen and (max-width:1025px) {
    .boxs {
        width: 300px;
        height: 350px;
    }
}

@media only screen and (max-width:769px) {
    nav > button {
        display: block;
        order: 3;
    }
    nav .nav_center_btn {
        order: 2;
    }
    nav > ul {
        order: 1;
    }
    nav > ul li {
        margin-right: 15px;
    }
    .mynav_right {
        display: none;
        order: 4;
        width: 100%;
        margin-top: 10px;
    }
    .mynav_r_flex {
        justify-content: space-between;
    }
    .mynav_right form {
        width: 80%;
        margin-right: 10px;
    }
    .mynav_right .search {
        width: 100%;
    }
    .mynav_right .search input[type="search"] {
        width: 85%;
    }

    .boxs_container {
        justify-content: space-evenly;
    }
    .boxs {
        margin-bottom: 58px;
    }
}

@media only screen and (max-width:426px) {
    .boxs_container {
        justify-content: center;
    }
    .boxs {
        width: 330px;
        height: 380px;
        margin-bottom: 50px;
    }

    .sec1 h1 {
        margin: 5px 0 20px 0;
        font-size: 1.5rem;
    }
    .sec1 .close_btn {
        font-size: 2.5rem;
        top: -10px;
        right: 20px;
    }
    .sec1 .sec1_links {
        flex-flow: column nowrap;
    }
    .sec1_links a:nth-child(1) {
        border-right: 0;
    }
    .sec1_links a:nth-child(2) {
        border-right: 0;
    }
    
    nav .nav_center_btn {
        order: 1;
    }
    nav > ul {
        order: 2;
    }
}

@media only screen and (max-width:376px) {
    nav > ul {
        font-size: 0.9rem;
    }
    .mynav_right .search input[type="search"] {
        width: 80%;
    }
}